  .container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 2rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  
  .upperbox {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .upperbox img {
    width: 15rem;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
  .circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
      to bottom,
      #1888ff,
      white
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  
  .data h1 {
    font-size: 3rem;
    transition: all 0.75s ease-out;
  }
  .data h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }

  input[type=text], select, textarea {
    margin-bottom: 5px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  textarea {
    height: 110px;
  }

  .btn-add {
    background-color:#1888ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .btn-add:hover {
    transform:scale(1.1,1.1);
    transition: all 0.25s ease-out;
  }
  
  .usd-rate {
    margin-left: 2px;
    margin-top: 0;
    color: #82817d;
  }