.main-container {
    min-height: calc(100vh - 32rem);
    margin-top: 2rem;
}

div {
    display: block;
}

.Container {
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 96rem;
}

.row-container {
    padding: 2rem;
}

.datepickerContainer {
    margin-right: 2rem;
}

.Container--full {
    max-width: 100%;
}

.Apartment-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: var(--size-card);
    margin: 0 auto;
    border-radius: .8rem;
}

.ApartmentImage {
    position: relative;
    width: var(--size-image);
    height: var(--size-image);
    z-index: 2;
}

.ApartmentImage-main {
    position: relative;
    background-color: #f3f1ee;
    border-radius: .8rem;
    height: 100%;
    padding-bottom: calc(var(--cardWidth) * 1.2);
}

.ApartmentImage-main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .8rem;
    -webkit-transition: -webkit-box-shadow var(--defaultAnimationTime);
    transition: -webkit-box-shadow var(--defaultAnimationTime);
    transition: box-shadow var(--defaultAnimationTime);
    transition: box-shadow var(--defaultAnimationTime),-webkit-box-shadow var(--defaultAnimationTime);
}

.Apartment-image {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
img {
    border-style: none;
}
.ApartmentPage-content {
    padding: 3.2rem 0 6.4rem;
}


.Container--sm, .Container--smGrow {
    max-width: 72rem;
}


@media (min-width: 760px){
.ApartmentHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
}

@media (min-width: 760px){
.ApartmentHeader-main {
    margin-right: 2.4rem;
}}
.ApartmentHeader-main {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-bottom: 2.4rem;
    min-width: 0;
}

.ApartmentHeader-title {
    overflow: hidden;
}

@media (min-width: 1200px){
.ApartmentBanner {
    --size-card: 50rem;
    --size-image: 50rem;
    --width-shadow: 26rem;
    --height-shadow: 3.2rem;
    --translate-shadow-x: -0.4rem;
    --translate-shadow-y: 10.8rem;
}
}
@media (min-width: 760px){
.ApartmentBanner {
    --size-card: 42rem;
    --size-image: 42rem;
    --width-shadow: 22.5rem;
    --height-shadow: 2.9rem;
    --translate-shadow-x: -0.4rem;
    --translate-shadow-y: 8.8rem;
}}
.ApartmentBanner {
    --size-card: 32rem;
    --size-image: 32rem;
    --width-shadow: 16.5rem;
    --height-shadow: 2rem;
    --translate-shadow-x: -0.3rem;
    --translate-shadow-y: 6.8rem;
    width: 100%;
    cursor: default;
    overflow: hidden;
}

.ApartmentBanner-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: var(--size-card);
    margin: 0 auto;
    border-radius: .8rem;
}

@media (min-width: 760px){
.ApartmentHeader-title-text {
    font-size: 4.2rem;
}
}
.ApartmentHeader-title-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 2.8rem;
    line-height: 1.2;
}

@media (min-width: 480px){
.ApartmentHeader-details {
    font-size: 2rem;
}
}

.ApartmentHeader-details {
    font-size: 1.6rem;
    font-weight: 500;
    color: #9c9c9b;
}

.ApartmentHeader-details-item {
    margin-right: 1.5rem;
}

@media (min-width: 760px){
.ApartmentSection {
    margin-bottom: 4.5rem;
}
}
.ApartmentSection {
    margin-bottom: 3.2rem;
}

@media (min-width: 1200px){
.Container--smGrow {
    max-width: 96rem;
    padding: 0 8rem;
}
}
@media (min-width: 760px){
.KittyPage-content {
    padding: 6.4rem 0;
}
}
@media (min-width: 760px){
.Container {
    padding: 0 3.2rem;
}
}
@media (min-width: 480px){
.Container {
    padding: 0 2.4rem;
}
}


.ApartmentRent--sale {
    --color-highlight: #fba371;
}
@media (min-width: 760px){
.ApartmentRent {
    padding: 2rem;
    border-radius: .75rem;
}
}
.ApartmentRent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 1.5rem 1rem .8rem;
    border: .2rem solid #f3f1ee;
    border-radius: .5rem;
    background-color: #fcfbfa;
}

.ApartmentRent-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 760px){
.ApartmentRent-box {
    margin-right: 2rem;
}}

@media (min-width: 760px){
.ApartmentRent-box-title {
    font-size: 1.6rem;
}}
.ApartmentRent-box-title {
    color: #2a2825;
    font-size: 1.4rem;
    font-weight: 500;
}

@media (min-width: 760px){
.ApartmentRent-box-subtitle {
    font-size: 2.4rem;
}}
.ApartmentRent-box-subtitle {
    color: #2a2825;
    font-size: 2rem;
    font-weight: 500;
}

small {
    font-size: 80%;
}

.ApartmentRent-box-currency-price {
    display: block;
    color: #9c9c9b;
    font-size: 1.6rem;
}

@media (min-width: 760px){
.ApartmentRent-action {
    margin-left: auto;
}
}
.ApartmentRent-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn > a {
    color: #f3f1ee;
}

.btn > a:hover {
    color: #f3f1ee;
}



@media (min-width: 480px){
.ApartmentInfo-uploadInfo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
}
.ApartmentInfo-uploadInfo {
    --icon-size: 4.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 480px){
.ApartmentInfo-uploadInfo-list {
    grid-template-columns: auto auto;
}
}
.ApartmentInfo-uploadInfo-list {
    display: grid;
    grid-template-columns: var(--icon-size) auto;
    grid-gap: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 500;
}

.ApartmentInfo-calendar-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

.ApartmentInfo-uploadInfo-title {
    margin-top: .1rem;
    color: #9c9c9b;
    font-size: 1.4rem;
}

@media (min-width: 760px){
    .ApartmentHeader-owner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 1.5rem;
}
}

.ApartmentHeader-owner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2.4rem;
    color: #9c9c9b;
    font-size: 2rem;
    font-weight: 500;
}

@media (min-width: 760px) {
.ApartmentHeader-owner-details {
    font-size: 2rem;
    text-align: right;
}
}
.ApartmentHeader-owner-details {
    font-size: 1.8rem;
    line-height: 1.1;
}

.ApartmentHeader-owner-name {
    display: block;
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2a2825;
}

@media (min-width: 760px) {
.ApartmentHeader-owner-label {
    font-size: 1.6rem;
}
}

.ApartmentHeader-owner-label {
    display: block;
    font-size: 1.4rem;
}
